{% extends 'base.html' %}


{% block content %}

    {% if current_user.is_authenticated %}
    <h1>Hello {{ current_user.username }}!</h1>
    {% else %}
    <h1>Hello please sign up to use our blog</h1>
    {% endif %}

    <div class="row">

        {% for p in products %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ p.name }}</h5>
                    <div class="d-flex justify-content-center">
                        <cite>&mdash; {{ p.price }}</cite>
                    </div>
                    <a href="{{ url_for('cart.add_to_cart', product_id=p.id) }}" class="btn btn-primary mt-2 mb-2 w-100">Add to Cart</a>
                    <a href="{{ url_for('cart.single_product', product_id=p.id) }}" class="btn btn-primary mt-2 mb-2 w-100">More Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}