{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <h1 class="text-center mt-3">{{ title }}</h1>

        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group mt-2 ms-auto me-auto mt-3 w-50">
        
                {{ form.search(class='form-control', placeholder='Search Items Here') }}
                <div class="d-flex justify-content-between mt-3">
                    {{ form.submit(class='btn btn-primary w-100 me-2')}}
                    <a href="{{ url_for('cart.my_cart_products') }}" class="btn btn-danger w-100" >Reset</a>
                </div>

            </div>
        </form>

        {% if not user_cart %}
            <p class="text-center">Your cart seems to be empty, consider adding to it <a href="{{ url_for('cart.index') }}" class="empty-cart">here!</a></p>
        {% else %}
            {% for p, cart in user_cart %}
               <div class="container d-flex flex-column align-items-center justify-content-center">
                    <div class="card w-50 mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            {% for key, value in duplicate.items() %}
                                    {% if key == p.id %}
                                        <p>Quantity: {{ value }}</p>
                                    {% endif %}
                                {% endfor %}
                            <div class="d-flex justify-content-between">
                                <p class="card-text">&mdash; {{ p.price }}</p>
                                <div class="mt-2">
                                    <a href="{{ url_for('cart.single_product', product_id=p.id) }}" class="btn btn-primary fas fa-info"></a>
                                    <a href="{{ url_for('cart.remove_from_cart', product_id=p.id) }}" class="btn btn-danger fas fa-trash-alt"></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            {% endfor %}
        
    </div>

    <!-- Checkout -->
    <div class="row">
        <hr class="mt-3">
        <div class="container ms-auto me-auto w-50 d-flex flex-column">
            <p class="text-center">Total ${{ total }}</p>
            <p class="fas fa-cash-register"></p>
            <p class="fas fa-shipping-fast"></p>
            <a href="{{ url_for('cart.checkout') }}" class="btn btn-success">Checkout</a>
        </div>

    </div>
    {% endif %}

{% endblock content %}