{% extends 'base.html' %}


{% block content %}

<h1>Search Cart</h1>

<form action="" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.search(class='form-control', placeholder='Search Items Here') }}

        {{ form.submit(class='btn btn-primary w-100')}}
    </div>
</form>

<div class="row">
    {% for i in items %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">{{ i.title }}</h5>
                <div class="d-flex justify-content-center">
                    <cite>&mdash; {{ i.User }}</cite>
                </div>
                <a href="{{ url_for('cart.single_item', item_id=i.id) }}" class="btn btn-primary w-100">More Info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}